.Card {
    padding: 1rem;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    box-sizing: border-box;
    z-index: 2;
    overflow: hidden;
}

.title {
    font-weight: 700;
    font-size: 1.2rem;
}

.content {
    font-weight: 200;
    font-size: min(2.3em , max(6vh, 3vw));
}

.lengthy {
    font-size: min(1.58em, max(3.33vh, 3.33vw));
}

.Bliss {
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
}

.Alpine {
    background: rgb(149,172,198);
    background: linear-gradient(310deg, rgba(149,172,198,1) 0%, rgba(29,253,177,1) 100%);
}

.Peach {
    background: rgb(149,172,198);
    background: linear-gradient(310deg, rgb(240, 82, 82) 0%, rgba(29,253,177,1) 100%);
}

.Lake {
    background: rgb(149,172,198);
    background: linear-gradient(310deg, rgb(38, 139, 72) 0% ,rgb(101, 138, 185) 50%, rgb(29, 253, 242) 100%);
}